<div
  class="modal fixed top-0 left-0 z-10 w-full h-screen flex justify-center items-center"
>
  <div class="modal_response bg-white px-12 py-6 border border-orange-400">
    <h3>{{ modalMessage }}</h3>
    <p>
      <small class="text-red-600">* {{ confirmationMessage }}</small>
    </p>
    <div class="modal_buttons mt-3 flex justify-between items-center px-3 py-6">
      <button class="modal_button bg-red-600" (click)="confirmModal('yes')">
        yes
      </button>
      <button class="modal_button bg-green-600" (click)="confirmModal('no')">
        no
      </button>
    </div>
  </div>
</div>
<div class="w-full h-screen fixed top-0 left-0 bg-gray-600 opacity-75"></div>
