<div class="flex justify-center align-center">
  <form [formGroup]="loginForm" novalidate class="w-1/4">
    <div class="email_control mb-4 p-2">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="ml-2 border leading-loose text-xs pl-1"
      />

      <ul
        class="email_control_errors py-2 text-xs text-red-600"
        *ngIf="(email.dirty || email.touched) && email.errors"
      >
        <li *ngFor="let error of displayErrors(email.errors, 'email')">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="password_control p-2">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="ml-2 border leading-loose text-xs pl-1"
      />
      <ul
        class="password_control_errors py-2 text-xs text-red-600"
        *ngIf="(password.dirty || password.touched) && password.errors"
      >
        <li *ngFor="let error of displayErrors(password.errors)">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="form_button text-center mt-3">
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        [ngClass]="{
          'bg-blue-300': loginForm.valid,
          'bg-gray-300': loginForm.invalid
        }"
        class="px-2 py-1"
      >
        submit
      </button>
    </div>
  </form>
</div>
